.link-component{
    font-size: 14px;
    color: #999;
    line-height: 1.5;
    border-bottom: 1px solid #999;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.link-component:hover{
    text-decoration: none;
    color: #fc00ff;
    border-color: #fc00ff;
}

